@media (max-width: 1250px) {
 .promo {
   width: 1100px;
 }
 .advantage {
   width: 1100px;
   background-color: #f6f6f6;
 }
 .catalog {
    width: 1100px;
 }
 .consultation {
    width: 1100px;
 }
 footer {
    width: 1100px;
 }
}
